* {
    padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button {
  background-color: white;
  color: #0068ff;
  padding: 1rem;
  width: 10rem;
  font-size: 1.5rem;
  border: none;
  position: relative;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #0068ff;
  color: white;
}

.container {
  margin: 2rem;
}

.separador {
  margin: 6rem 4rem;
  border: 1px solid white;
}

/* logo -- */
.logo {
  margin-top: 4rem;
  text-align: center;
}
.logo h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.logo span {
  font-weight: 100;
}

.logo label {
  border: 2px solid white;
  padding: 0.75rem;
}

/* saudação --- */
.bemVindo {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200;
  text-align: center;
}

.bemVindo p {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* serviços --- */
.servicos {
  padding: 1rem;
  position: relative;
  text-align: center;
}
.servicos img {
  width: 12rem;
}
.servicos h1 {
  margin-top: 1rem;
  font-size: 2rem;
}

.blocoServicos {
  margin-top: 4rem;
  border: 2px solid white;
  padding: 2rem;
  margin-bottom: 5rem;
}

.blocoServicos .title {
  font-size: 1.75rem;
}

.blocoServicos .description {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.contato {
  margin-top: 1rem;
  display: inline-block;
}
.contato img {
  width: 4rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

/* info ----- */
footer {
  background-color: rgb(46, 46, 46);
  text-align: center;
  bottom: 0;
  width: 100%;
  
  padding: 10px 5px;
}

footer .title {
  font-size: 2rem;
  
}

.info {
  margin: 1.2rem;
}

.info img {
  width: 12rem;
}

.info .description {
  margin-top: 0.75rem;
  font-size: 1.2rem;
}
.info .sobre {
  text-align: left;

  font-size: 1.2rem;
}

.contato {
  margin-top: 2rem;
}

.info p {
  line-height: 2rem;
  letter-spacing: 0.12rem;
}

.info .marca {
  text-align: right;
}
